# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
*.log

# Flask & env
.env

# Docker
*.env
*.pid
*.sock
*.tar
*.db
*.sqlite

# OS/system
.DS_Store

# VSCode
.vscode/
*.swp
.DS_Store

# Pycharm
.idea/

# Misc
backend/.backend

# Database + uploads
*.db
*.sqlite3
static/uploads/*

# Flask cache
instance/